@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-left: 10px;
    font-family: Roboto, sans-serif;

  }
.score, .top, .bottom, .message {
    display: flex;
    flex: 0;
    justify-content: space-around;
    width: 400px;
}

.score {
    display: flex;
    background-color: rgb(255, 204, 0);
    flex-direction: column;
}

.bottom{
    background-color: lightpink;

}
.message{
    background-color: rgba(255, 0, 255, 0.509);
}
.btn, #reset{
    background: rgba(255, 247, 0, 0.556);
    border: none;
    padding: 8px 16px;
    margin: 10px 0px;
    font-family: Roboto, sans-serif;

}